footer
  div.footer-nav
    ul
      li 
        a(href="follow") Follow Site
      li 
        a(href="https://www.instagram.com/bugbybrooke") Instagram
      li 
        a(href="https://www.facebook.com/BeautifulUniqueGirls") Facebook
  
  div.copywrite
    - var currentYear = new Date().getFullYear();
    p !{"© " + currentYear + " BUG"} 